<div class="stack-item clickable-section background-light-gray">
    <span class="nav-icon"><span class="glyphicon glyphicon-option-horizontal"></span></span>
    <div class="stack-content">
        <span class="title">Room {{room.room_number}}</span>
        <div>
                <span ng-if="room.clean_type === 'checkout'"
                      class="label label-success">CHECKOUT</span>
            <span ng-if="room.clean_type === 'stayover'"
                  class="label label-danger">STAYOVER</span>
        </div>
    </div>
    <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
</div>
<ul class="options-dropdown">
    <li><span class="glyphicon glyphicon-chevron-right"></span> Move room to incomplete</li>
    <li><span class="glyphicon glyphicon-chevron-right"></span> View room</li>
</ul>