// Colors
$primary-color: #34495E;
$secondary-color: #4990E2;

$color-dark-red: #C0392B;

$color-gray: #ADAFB1;
$color-light-gray: #ecf0f1;
$color-light-green: #98FB98;
$color-light-blue: #2980b9;
$color-white: #FFFFFF;

$color-carrot: #e67e22;
$color-nephritis: #27ae60;
$color-alizarin: #e74c3c;

$color-border: #2c3e50;