.background-light-gray {
  background-color: $color-light-gray;
}

.border-bottom {
  border-bottom-color: #ecf0f1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.clickable-section {
  cursor: pointer;
}