.comment-input {
  resize: none;
  min-height: 100px;
  width: 100%;
  border: $color-border solid 1px;
}

input {
  min-height: 30px;
  padding: 5px;

  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-gray;

  &:focus {
    border-color: $primary-color;
  }
}

.input-block {
  width: 100%;
}

// potentially not good for accessibility reasons
textarea:focus, input:focus{
  outline: none;
}