body {
  //padding-top: 50px;
}

.navbar-lodgebook {
  background-color: $primary-color;
}

.navbar-brand {
  color: #FFF;
  font-size: 15px;
}

.menu-button {
  background-color: transparent;
  color: #FFF;
  height: 50px;
  width: 50px;
  float: left;
  border: none;
  font-size: 20px;
}

#site-wrapper {
  position: relative;
  //overflow: hidden;  //Removed so that a bottom nav button can be sticky
  width: 100%;
  min-height: 100vh;
}
#site-canvas {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;

  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  padding-top:50px;
}
.show-nav #site-canvas {
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);

  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#site-menu {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  //padding: 15px;
  padding-top: 50px;

  margin-left: -600px;
  color: #FFF;

  border-right: $primary-color solid 1px;
  background-color: $primary-color;

  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden

}

#site-menu h1 {
  padding-left: 10px;
}

.show-nav #site-menu {

  margin-left: -250px;

  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);

  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

ul.links {
  /* Chrome Reset */
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  width: 100%;

  list-style: none;

  li {

    font-size: 18px;
    cursor: pointer;

    a {
      height: 100%;
      width: 100%;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;

      color: #FFF;

      &:hover {
        background-color: #FFF;
        color: $primary-color;
        text-decoration: none;
      }
    }

  }
}

.filter-navbar ::-webkit-scrollbar {
  display: none;
}

/* Style the room type filter tab for the maids*/
.main ul {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.sub ul {
  background-color: #bdc3c7;
  li {
    color: $primary-color;
  }
}
.filter-navbar ul {
  overflow-x: scroll;
  white-space: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: none;
    padding: 14px 10px;
    text-align: center;
  }
}

.bottom-stick {
  bottom:0;
  position: sticky;
}

.button-nav ::-webkit-scrollbar {
  display: none;
}

.button-nav {
  overflow-x: scroll;
  background-color: $secondary-color;
  border-radius: 5px 5px 0px 0px;
  ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      border: 3px solid white;
      border-radius: 5px;
      color: white;
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      padding: 10px 5px;
      margin: 10px;
      text-align:center;
    }
  }
}

.two-col-navbar li {
  width: 50%;
}
.three-col-navbar li {
  width: 33.3%;
}

.four-col-navbar li {
  width: 25%;
}

/* Create an active/current tablink class */
.highlight-filter-navbar li.active {
  background-color: #ccc;
}

.highlight-filter-subnavbar li.active {
  background-color: $primary-color;
  color: #FFF;
}

.navbar-header {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav .navbar-header {
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);

  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

.navbar-align-right {
  float: right;
  padding-right: 10px;
}