<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Assigned Rooms</h2>
            <p>Tap a room to view more information.</p>
        </div>
    </div>
</div>



<div class="container" ng-show="selected=='Dirty' || selected=='All Rooms'">
    <div class="row">
        <div class="col-sm-12">
            <h3>Dirty <span class="badge">{{dirtyRooms.length}}</span></h3>
        </div>
    </div>
</div>

<div class="stack-item-container" ng-show="selected=='Dirty' || selected=='All Rooms'">
    <div ng-repeat="room in list | filter:{clean_status:'dirty', do_not_disturb: false} as dirtyRooms">
        <div class="stack-item clickable-section background-light-gray"
             ui-sref="view-room({roomId: room.$id})">
            <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'vacant'" class="label label-success-maid">C</span>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'occupied'" class="label label-danger-maid">C</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger-maid">S</span>
                </div>
            </div>
            <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
        </div>
    </div>
</div>

<div class="container" ng-show="selected=='Incomplete' || selected=='All Rooms'">
    <div class="row">
        <div class="col-sm-12">
            <h3>Incomplete <span class="badge">{{incompleteRooms.length}}</span></h3>
        </div>
    </div>
</div>
<div class="stack-item-container" ng-show="selected=='Incomplete' || selected=='All Rooms'">
    <div ng-repeat="room in list | filter:{clean_status:'incomplete', do_not_disturb: false} as incompleteRooms">
        <div class="stack-item clickable-section background-light-gray"
             ui-sref="view-room({roomId: room.$id})">
            <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'vacant'" class="label label-success-maid">C</span>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'occupied'" class="label label-danger-maid">C</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger-maid">S</span>
                    <span ng-show="room.do_not_disturb === true" class="do-not-disturb-icon"><span class="glyphicon glyphicon-ban-circle"></span></span>
                </div>
            </div>
            <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
        </div>
    </div>
</div>

<div class="container" ng-show="selected=='Do Not Disturb' || selected=='All Rooms'">
    <div class="row">
        <div class="col-sm-12">
            <h3>Do Not Disturb <span class="badge">{{doNotDisturbRooms.length}}</span></h3>
            <p>The following rooms had a "Do Not Disturb" sign on the door. If the sign is removed, proceed with cleaning.</p>
        </div>
    </div>
</div>
<div class="stack-item-container" ng-show="selected=='Do Not Disturb' || selected=='All Rooms'">
    <div ng-repeat="room in list | filter:{do_not_disturb: true} as doNotDisturbRooms">
        <div class="stack-item clickable-section background-light-gray"
             ui-sref="view-room({roomId: room.$id})">
            <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'vacant'" class="label label-success-maid">C</span>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'occupied'" class="label label-danger-maid">C</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger-maid">S</span>
                    <span ng-show="room.do_not_disturb === true" class="do-not-disturb-icon"><span class="glyphicon glyphicon-ban-circle"></span></span>
                </div>
            </div>
            <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
        </div>
    </div>
</div>

<div class="container" ng-show="selected=='Pending' || selected=='All Rooms'">
    <div class="row">
        <div class="col-sm-12">
            <h3>Pending <span class="badge">{{pendingRooms.length}}</span></h3>
        </div>
    </div>
</div>

<div class="stack-item-container" ng-show="selected=='Pending' || selected=='All Rooms'">
    <div ng-repeat="room in list | filter:{clean_status: 'pending', do_not_disturb: false} as pendingRooms">
        <div class="stack-item clickable-section background-light-gray" ng-click="optionsExpanded=!optionsExpanded">
            <!--<span class="nav-icon"><span class="glyphicon glyphicon-option-horizontal"></span></span>-->
            <span class="nav-icon" ng-show="!optionsExpanded"><span class="glyphicon glyphicon-chevron-down"></span></span>
            <span class="nav-icon" ng-show="optionsExpanded"><span class="glyphicon glyphicon-chevron-up"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'vacant'" class="label label-success-maid">C</span>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'occupied'" class="label label-danger-maid">C</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger-maid">S</span>
                    <span ng-show="room.do_not_disturb === true" class="do-not-disturb-icon">
                    <span class="glyphicon glyphicon-ban-circle"></span></span>
                </div>
            </div>
            <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
        </div>
        <ul class="options-dropdown " ng-show="optionsExpanded">
            <li ng-click="changeClean(room)"><span class="glyphicon glyphicon-chevron-right"></span> Move room to dirty</li>
            <li ui-sref="view-room({roomId: room.$id})"><span class="glyphicon glyphicon-chevron-right"></span> View room</li>
        </ul>
    </div>
</div>

<div class="container" ng-show="selected=='Clean' || selected=='All Rooms'">
    <div class="row">
        <div class="col-sm-12">
            <h3>Clean <span class="badge">{{cleanRooms.length}}</span></h3>
        </div>
    </div>
</div>

<div class="stack-item-container" ng-show="selected=='Clean' || selected=='All Rooms'">
    <div ng-repeat="room in list | filter:{clean_status: 'clean', do_not_disturb: false} as cleanRooms">
        <div class="stack-item clickable-section background-light-gray" ng-click="optionsExpanded=!optionsExpanded">
            <!--<span class="nav-icon"><span class="glyphicon glyphicon-option-horizontal"></span></span>-->
            <span class="nav-icon" ng-show="!optionsExpanded"><span class="glyphicon glyphicon-chevron-down"></span></span>
            <span class="nav-icon" ng-show="optionsExpanded"><span class="glyphicon glyphicon-chevron-up"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'vacant'" class="label label-success-maid">C</span>
                    <span ng-if="room.clean_type === 'checkout' && room.vacancy_status === 'occupied'" class="label label-danger-maid">C</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger-maid">S</span>
                    <span ng-show="room.do_not_disturb === true" class="do-not-disturb-icon">
                    <span class="glyphicon glyphicon-ban-circle"></span></span>
                </div>
            </div>
            <!--<span ng-if="room.clean_type === 'PASSED_INSPECTION'" class="label label-success">Passed inspection</span>-->
        </div>
        <ul class="options-dropdown " ng-show="optionsExpanded">
            <li ng-click="changeClean(room)"><span class="glyphicon glyphicon-chevron-right"></span> Move room to dirty</li>
            <li ui-sref="view-room({roomId: room.$id})"><span class="glyphicon glyphicon-chevron-right"></span> View room</li>
        </ul>
    </div>
</div>

<div class="alert-overlay">

</div>

<div class="alert-popover" ng-hide="true">
    <div class="alert-content">
        <div class="alert-icon alert-icon-warning"><span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="alert-description">Are you sure you would like to move this room back to dirty?</div>
        <div class="alert-buttons">
            <button class="btn btn-warning btn-sm">Move</button>
            <button class="btn btn-default btn-sm">Cancel</button>
        </div>
    </div>
</div>