<div class="checkbox-stack-item expandable" ng-class="{'checked': checked, 'unchecked': !checked}" ng-click="checked = !checked">
    <div class="unexpanded-content">
        <span class="checkbox-icon">
            <span class="glyphicon" ng-class="{'glyphicon-check': checked, 'glyphicon-unchecked': !checked}"></span>
        </span>
        <span class="expand-icon" ng-click="expanded = !expanded" ng-show="imageSrc || description">
            <span class="glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-up': expanded, 'glyphicon-chevron-down': !expanded}"></span>
        </span>
        <span class="title">{{title}}</span>
    </div>
    <div class="expanded-content" ng-show="expanded">
        <div class="image" ng-show="imageSrc"><img class="img-responsive" ng-src="{{imageSrc}}"></div>
        <div class="description" ng-show="description">{{description}}</div>
    </div>

</div>