<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="nav-icon clickable-section" ng-click="goBack()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </span>
                <h1 class="clickable-section" ng-click="goBack()">Room {{room_number}}</h1>
                <p ng-if="isSupervisor">Assigned To: {{maidName}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Tasks</h2>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div ng-repeat="task in tasksArray">
        <checkbox-stack-item title="task" ng-model="tasks_checked[task]"
                             ng-change="app_task(task)"></checkbox-stack-item>
    </div>
    <!--<checkbox-stack-item title="title" description="description" image-src="imageSrc"></checkbox-stack-item>-->
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="section">
                <button class="btn btn-primary btn-block" ng-click='push_inc_task();goBack()'>Submit Tasks</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Do Not Disturb</h2>
        </div>
    </div>
</div>
<div class="container background-light-gray">
    <div class="row">
        <div class="col-sm-12">
            <div class="section">
                <p>If the guest has put a Do Not Disturb sign on the door, click the button below.</p>
                    <div class="btn-group two-button-toggle">
                        <label class="btn btn-primary" ng-model="room.do_not_disturb" ng-change="toggleDoNotDisturb(true)" uib-btn-radio="true">On</label>
                        <label class="btn btn-primary" ng-model="room.do_not_disturb" ng-change="toggleDoNotDisturb(false)" uib-btn-radio="false">Off</label>
                    </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Comments</h2>
        </div>
    </div>
</div>
<div class="container background-light-gray">
    <div class="row">
        <div class="col-sm-12">
            <div class="section">

                <div class="comment-container">
                    <div class="comment-item" ng-repeat="comment in comments">
                        <div class="comment-metadata">
                            Posted by {{comment.author}} on {{comment.timestamp}}
                        </div>
                        <div class="comment">
                            {{comment.comment}}
                        </div>
                    </div>
                </div>
                <button ng-click="commentInputVisible = true;" class="btn btn-secondary btn-block">Add Comment</button>
                <textarea ng-model="commentInput" ng-show="commentInputVisible" class="comment-input"></textarea>
                <button ng-click="commentInputVisible = false;" ng-show="commentInputVisible" class="btn btn-secondary btn-block">Cancel</button>
                <button ng-click="addComment();" ng-show="commentInputVisible" class="btn btn-primary btn-block">Post Comment</button>
                {{commentInput}}
            </div>
        </div>
    </div>
</div>-->

<div ng-show="isSupervisor()" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Clean Type</h2>
        </div>
    </div>
</div>
<div ng-show="isSupervisor()" class="container background-light-gray section">
    <div class="btn-group" style="width:100%" uib-dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
            {{room.clean_type==='checkout'? 'Checkout' : room.clean_type==='stayover'? 'Stayover' : 'None'}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width:100%" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="changeCleanType(null)">None</a></li>
            <li role="menuitem"><a ng-click="changeCleanType('checkout')">Checkout</a></li>
            <li role="menuitem"><a ng-click="changeCleanType('stayover')">Stayover</a></li>
        </ul>
    </div>
</div>

<!--<div ng-show="isSupervisor()" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Supervisor Inspection</h2>
        </div>
    </div>
</div>
<div ng-show="isSupervisor()" class="container background-light-gray">
    <div class="row">
        <div class="col-sm-6">
            <div class="section">
                <button ng-click="inspectionPass()" ng-disabled="incomplete_tasks.length != 0"
                        class="btn btn-secondary btn-block pass">Pass
                </button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="section">
                <button ng-click="inspectionFail()" ng-disabled="incomplete_tasks.length === 0"
                        class="btn btn-secondary btn-block fail">Fail
                </button>
            </div>
        </div>
    </div>
</div>-->

