<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Assign Rooms</h2>
            <p>Select a housekeeper to continue.</p>
        </div>
    </div>
</div>

<div class="container" ng-show="availableMaids.length>0">
    <div class="row">
        <div class="col-sm-12">
            <h3>Available Housekeepers ({{availableMaids.length}})</h3>
            <p>These housekeepers have no rooms currently assigned to them.</p>
        </div>
    </div>
</div>


<div class="stack-item-container">
    <div ng-repeat="maid in house_maid_list | hasNoRoomsAssigned as availableMaids">
        <div class="stack-item background-light-gray border-bottom clickable-section"
             ui-sref="view-supervisor-assignments({maidId: maid.$id})">

            <div class="stack-content">
                <span class="title">{{maid.name}}</span>
                <!--<div>-->
                    <!--{{maidAssignedRoomsCounts[maid.$id] == null? 'No rooms assigned' :-->
                    <!--maidAssignedRoomsCounts[maid.$id] == 1? '1 room assigned' : maidAssignedRoomsCounts[maid.$id] +-->
                    <!--' rooms assigned'}}-->
                <!--</div>-->
                <div>
                    {{maid.assigned_rooms_count == null? 'No rooms assigned' : maid.assigned_rooms_count == 1? '1 room assigned' : maid.assigned_rooms_count + ' rooms assigned'}}
                </div>
            </div>
        </div>


    </div>
</div>


<div class="container" ng-show="assignedMaids.length>0">
    <div class="row">
        <div class="col-sm-12">
            <h3>More Housekeepers ({{assignedMaids.length}})</h3>
            <p>These housekeepers have rooms currently assigned to them.</p>
        </div>
    </div>
</div>

<div class="stack-item-container">

    <!--<div ng-repeat="maid in house_maid_list" ng-if="maidAssignedRoomsCounts[maid.$id]!=null">-->
    <div ng-repeat="maid in house_maid_list | hasRoomsAssigned as assignedMaids">
        <div class="stack-item background-light-gray clickable-section"
             ui-sref="view-supervisor-assignments({maidId: maid.$id})">

            <div class="stack-content">
                <span class="title">{{maid.name}}</span>
<!--                <div>
                    {{maidAssignedRoomsCounts[maid.$id] == null? 'No rooms assigned' :
                    maidAssignedRoomsCounts[maid.$id] == 1? '1 room assigned' : maidAssignedRoomsCounts[maid.$id] +
                    ' rooms assigned'}}
                </div>-->
                <div>
                    {{maid.assigned_rooms_count == null? 'No rooms assigned' : maid.assigned_rooms_count == 1? '1 room assigned' : maid.assigned_rooms_count + ' rooms assigned'}}
                </div>
            </div>
        </div>

    </div>

</div>