<div class="container developer-navigation">
    <div class="row">
        <div class="col-sm-12">
            <h4>Developer Navigation</h4>
            <p>Some links below may not work because they require parameters.</p>
            <div ng-repeat="state in states">
                <a href="#" ng-if="state.name" ui-sref="{{state.name}}">{{state.name}}</a>
            </div>
        </div>
    </div>
</div>