<div class="container developer-navigation">
    <div class="row">
        <div class="col-sm-12">
            <h4>Developer Navigation</h4>
            <p>Add links to all new pages here.</p>
            <a ui-sref="view-about">About</a>
            | <a ui-sref="view-hello">Hello</a>
            | <a ui-sref="view-firebase-test">Firebase Test</a>
            | <a ui-sref="view-maid-home">Maid Home</a>
            | <a ui-sref="view-room">Room</a>
        </div>
    </div>
</div>