<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Log In</h2>
            <p>Select a user to continue.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Maids</h3>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div class="stack-item background-light-gray border-bottom clickable-section"
         ng-repeat="maid in maidArray"
         ng-click="userSelected(maid)"
         ui-sref="view-maid-home({maidId: maid.$id})">
        <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <div class="stack-content">
            <span class="title">{{maid.name}}</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Maid Supervisor</h3>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div class="stack-item background-light-gray border-bottom clickable-section"
         ng-repeat="supervisor in maidSupervisorArray"
         ng-click="userSelected(supervisor)"
         ui-sref="view-rooms-to-inspect">
        <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <div class="stack-content">
            <span class="title">{{supervisor.name}}</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Manager</h3>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div class="stack-item background-light-gray border-bottom clickable-section"
         ng-repeat="manager in managerArray">
        <!--ui-sref="view-supervisor-assignments({maidId: maid.$id})">-->
        <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <div class="stack-content">
            <span class="title">{{manager.name}}</span>
        </div>
    </div>
</div>


<!--<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>-->
<!--<script>-->
    <!--// Initialize Firebase-->
    <!--var config = {-->
        <!--apiKey: "AIzaSyC4EXcoJNRPPFFh19QtaWkcBXccvTKAax0",-->
        <!--authDomain: "lodgebook-281ad.firebaseapp.com",-->
        <!--databaseURL: "https://lodgebook-281ad.firebaseio.com",-->
        <!--storageBucket: "lodgebook-281ad.appspot.com",-->
        <!--messagingSenderId: "1014556242585"-->
    <!--};-->
    <!--firebase.initializeApp(config);-->
<!--</script>-->