<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Housekeeper List
            </h2>
            <p>Select a housekeeper to view.</p>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div ng-repeat="maid in list">
        <div class="stack-item clickable-section background-light-gray"
             ui-sref="view-maid-home({maidId: maid.$id})">
            <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <div class="stack-content">
                <span class="title">{{maid.name}}</span>
            </div>
        </div>
    </div>
</div>


