<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Room List</h2>
            <p>Select a room to view.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="search-section">
                <input class="input-block" type="text" placeholder="Room number" ng-model="roomSearch">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="filter-navbar">
            <div class="main four-col-navbar highlight-filter-navbar">
                <filter-navigation-bar ng-model="filterTabs" callback="selectFilterTab"></filter-navigation-bar>
            </div>
            <div class="sub highlight-filter-subnavbar">
                <filter-navigation-bar ng-show="selectedTab.title=='Maid'" ng-model="maidNameList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
                <filter-navigation-bar ng-show="selectedTab.title=='Room Status'" ng-model="roomStatusList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
                <filter-navigation-bar ng-show="selectedTab.title=='Room Type'" ng-model="roomTypeList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
                <filter-navigation-bar ng-show="selectedTab.title=='Vacancy Status'" ng-model="vacancyStatusList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2><span class="label label-primary">{{filteredRooms.length}}</span> Rooms Shown</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="filter-section">
            <ul class="sticker-container">
                <li ng-show="selectedFilters.length > 0"
                    ng-click="resetFilters()"><span class="label label-warning">Reset Filters</span></li>
                <li ng-repeat="filter in selectedFilters" ng-click="selectFilter(filter)">
                    <span class="label label-default"><span>{{filter.title}} </span><i class="glyphicon glyphicon-remove-sign"></i></span></li>
            </ul>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div ng-repeat="room in roomList | orderBy:room_number:reverse | filter:{room_number: roomSearch} | filter:filterAllRooms as filteredRooms">
        <div class="stack-item clickable-section background-light-gray" ng-click="optionsExpanded=!optionsExpanded">
            <span class="nav-icon" ng-show="!optionsExpanded"><span class="glyphicon glyphicon-chevron-down"></span></span>
            <span class="nav-icon" ng-show="optionsExpanded"><span class="glyphicon glyphicon-chevron-up"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}
                    <span ng-show="room.do_not_disturb === true && checkRoom('Do Not Disturb')"
                          class="do-not-disturb-icon glyphicon glyphicon-ban-circle"></span>
                </span>
                <div class="sticker-container">
                    <span ng-show="room.clean_status==='dirty' && checkRoom('Dirty')" class="label label-danger">Dirty</span>
                    <span ng-show="room.clean_status==='incomplete' && checkRoom('Incomplete')" class="label label-warning">Incomplete</span>
                    <span ng-show="room.clean_status==='pending' && checkRoom('Pending')" class="label label-info">Pending</span>
                    <span ng-show="room.clean_status==='clean' && checkRoom('Clean')" class="label label-success">Clean</span>

                    <span ng-show="room.clean_type==='checkout' && checkRoom('Checkout')" class="label label-warning">Checkout</span>
                    <span ng-show="room.clean_type==='stayover' && checkRoom('Stayover')" class="label label-success">Stayover</span>

                    <span ng-show="room.vacancy_status==='vacant' && checkRoom('Vacant')" class="label label-success">Vacant</span>
                    <span ng-show="room.vacancy_status==='occupied' && checkRoom('Occupied')" class="label label-danger">Occupied</span>

                    <span ng-show="room.assigned_to && checkRoom(room.assigned_maid_name)" class="label label-default">
                        <span class="glyphicon glyphicon-user"></span> {{room.assigned_maid_name}}</span>
                </div>
            </div>
        </div>
        <ul class="options-dropdown " ng-show="optionsExpanded">
            <li ng-click="changeCleanType(room, 'dirty')"><span class="glyphicon glyphicon-chevron-right"></span> Move room to dirty</li>
            <li ng-click="changeCleanType(room, 'clean')"><span class="glyphicon glyphicon-chevron-right"></span> Move room to clean</li>
            <li ui-sref="view-room({roomId: room.$id})"><span class="glyphicon glyphicon-chevron-right"></span> View room</li>
        </ul>
    </div>
</div>